<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.hexun"/>

    <bean id="producerClientConfig" class="com.hexun.rocketmq.MessageProducer" init-method="init" lazy-init="true">
        <property name="topic" value="yuanyue"/>
        <property name="namesrvAddr" value="10.4.63.103:9876;10.4.63.104:9876"/>
    </bean>

    <bean class="com.hexun.rocketmq.MessageOrderlyConsumer" init-method="init" lazy-init="true">
        <property name="namesrvAddr" value="10.4.63.103:9876;10.4.63.104:9876"/>
        <property name="topic"  value="yuanyue"/>
        <property name="subExpression" value="*"/>
        <property name="messageListener" ref="listener"/>
        <property name="vipChannelEnabled" value="false"/>
    </bean>
    <bean id="listener" class="com.hexun.rocketmq.impl.TestListener"/>
    <!--<bean class="com.hexun.rocketmq.MessageConcurrentlyConsumer">-->
        <!--<property name="topic" value="yuanyuetest"/>-->
        <!--<property name="namesrvAddr" value="10.4.63.103:9876;10.4.63.104:9876"/>-->
        <!--<property name="subExpression" value="*"/>-->
        <!--<property name="messageListener" ref="listener"/>-->
    <!--</bean>-->

</beans>