<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.hexun"/>

    <bean id="appMqConf" class="com.hexun.rocketmq.client.TopicConfig" abstract="true" init-method="init"
          lazy-init="true">
        <property name="namesrvAddr" value="10.4.63.105:9876;10.4.63.104:9876"/>
        <property name="vipChannelEnabled" value="false"/>
        <property name="topic" value="yuanyue"/>
        <property name="instanceName" value="test11"/>
    </bean>


    <bean id="tags" class="com.hexun.rocketmq.client.TagsConfig" parent="appMqConf">
        <property name="tagListenerMap">
            <map>
                <entry key="*" value="com.hexun.rocketmq.client.test.TestListener"/>
                <entry key="tagb" value="com.hexun.rocketmq.client.test.TestListener"/>
            </map>
        </property>
    </bean>

    <!--<bean class="com.hexun.rocketmq.client.MessageConsumer" init-method="init" parent="appMqConf">-->
        <!--<property name="subExpression" value="taga"/>-->
        <!--<property name="consumerGroup" value="CG-yuanyue"/>-->
        <!--<property name="listenerClass" value="com.hexun.rocketmq.client.test.TestListener"/>-->
    <!--</bean>-->


    <!--<bean class="com.hexun.rocketmq.client.MessageConsumer" init-method="init" parent="appMqConf">-->
        <!--<property name="subExpression" value="tagb"/>-->
        <!--<property name="consumerGroup" value="CG-yuanyue1"/>-->
        <!--<property name="listenerClass" value="com.hexun.rocketmq.client.test.TestListener"/>-->
    <!--</bean>-->
</beans>