<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1 seconds" debug="false">

    <!-- set env -->
    <property name="LOGDROOT" value="${catalina.base}"/>
    <property name="APP_NAME" value="cdsq"/>
    <property name="DEBUG_LOG_PATH" value="${LOGDROOT}/logs/${APP_NAME}_debug"/>
    <property name="INFO_LOG_PATH" value="${LOGDROOT}/logs/${APP_NAME}_info"/>
    <property name="WARN_LOG_PATH" value="${LOGDROOT}/logs/${APP_NAME}_warn"/>
    <property name="ERROR_LOG_PATH" value="${LOGDROOT}/logs/${APP_NAME}_error"/>
    <!-- %d system date,%p log level,%t thread no,%F classname,%L line number,%m information ,%n line -->
    <property name="LOG_PATTERN_CONSOLE" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%t] [%F:%L] - %m%n"/>
    <property name="LOG_PATTERN_FILE" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%p] [%t] [%F:%L] - %m%n"/>
    <property name="MAXHISTORY" value="20"/>
    <property name="MAXFILESIZE" value="100MB"/>

    <!-- set context name-->
    <contextName>${APP_NAME}</contextName>

    <!-- console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN_CONSOLE}</pattern>
        </encoder>
    </appender>

    <appender name="mqAppender1" class="com.hexun.rocketmq.logback.RocketmqJsonAppender">
        <tag>testapp</tag>
        <topic>LOG-TEST</topic>
        <producerGroup>PG-LOG-TEST</producerGroup>
        <nameServerAddress>10.4.63.103:9876;10.4.63.104:9876</nameServerAddress>
    </appender>





    <logger name="org.springframework" level="INFO"/>
    <logger name="com.alibaba.dubbo" level="DEBUG"/>
    <logger name="org.apache.zookeeper" level="INFO"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="com.ibatis" level="DEBUG"/>
    <logger name="com.ibatis.spring.jdbc.SimpleDataSource" level="DEBUG"/>
    <logger name="com.ibatis.spring.jdbc.ScriptRunner" level="DEBUG"/>
    <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
    <logger name="java.sql.Connection" level="DEBUG"/>
    <logger name="java.sql.Statement" level="DEBUG"/>
    <logger name="java.sql.PreparedStatement" level="DEBUG"/>
    <logger name="com.baidu.disconf" level="DEBUG"/>
    
    
    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="mqAppender1"/>
    </root>
</configuration>